Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"

Remove userId from post & add userId to user object
  server/controllers/post/postBySlug.js
Labels: area:frontend, area:backend, area:api

Create getPostById service
  server/services/posts/getPostById.js
Labels: area:frontend, area:backend

Add return statement in if condition after sending response
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/boards/boardPosts.js
  server/controllers/boards/create.js
  server/controllers/post/create.js
  server/controllers/post/deleteById.js
  server/controllers/post/postBySlug.js
  server/controllers/votes/add.js
  server/controllers/votes/remove.js
Labels: area:frontend, area:backend, area:api

Set title and postId as required and getPost before updating
  server/controllers/post/updatePost.js
Labels: area:frontend, area:backend, area:api

Check for existing post before deleting
  server/controllers/post/deleteById.js
Labels: area:frontend, area:backend, area:api

Return null if no response got from database
  server/services/auth/getUser.js
  server/services/boards/getBoardById.js
  server/services/boards/getBoardBySlug.js
  server/services/posts/getPostById.js
Labels: area:frontend, area:backend

Add delete board route & controller
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Add domain argument to verifyEmail & update siteUrl
  server/controllers/auth/email/verify.js
  server/controllers/auth/signup.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:api

Add verifyUserEmailAddress axios module
  frontend/src/modules/auth.js
Labels: area:frontend, area:backend

Add fill and stroke props to error and sucess icon
  frontend/src/components/icons/Error.vue
  frontend/src/components/icons/Success.vue
Labels: area:frontend, area:backend

Create email verify page
  frontend/src/pages/EmailVerify.vue
  frontend/src/routes.js
  frontend/src/styles/main.sass
  frontend/src/styles/pages/verify/email.sass
Labels: area:frontend, area:backend

Delete email verification token from db after verifying account
  server/controllers/auth/email/validate.js
Labels: area:frontend, area:backend, area:api

Add updatedAt property to update date in users table
  server/controllers/auth/email/validate.js
Labels: area:frontend, area:backend, area:api

Add return statement in each if statement
  server/controllers/auth/email/validate.js
Labels: area:frontend, area:backend, area:api

Replace nodemailer with LogChimp mailer adapater
  package.json
  server/services/auth/verifyEmail.js
  server/services/mail/index.js
  server/services/mail/mail.js
  yarn.lock
Labels: area:frontend, area:backend

Add alert icon
  frontend/src/components/icons/Alert.vue
Labels: area:frontend, area:backend

Add button-background styles
  frontend/src/styles/components/button.sass
Labels: area:frontend, area:backend

Create resendUserVerificationEmail module
  frontend/src/modules/auth.js
Labels: area:frontend, area:backend

Show verify email alert box in user settings
  frontend/src/pages/Settings.vue
  frontend/src/styles/pages/user/settings.sass
Labels: area:frontend, area:backend

Conditionally require mailer adapter if mail config is present
  server/services/mail/mail.js
Labels: area:frontend, area:backend

Return user object after validating email address
  server/controllers/auth/email/validate.js
Labels: area:frontend, area:backend, area:api

Remove user logout vuex action after email verification
  frontend/src/pages/EmailVerify.vue
Labels: area:frontend, area:backend

Remove isVerified property from user vuex store
  frontend/src/store/modules/user.js
Labels: area:frontend, area:backend

Rename buttonLoading to updateUserButtonLoading in user settings
  frontend/src/pages/Settings.vue
Labels: area:frontend, area:backend

Add different button loader styles for primary and background button
  frontend/src/styles/components/button.sass
Labels: area:frontend, area:backend

Add loader to Resend button in user settings
  frontend/src/pages/Settings.vue
Labels: area:frontend, area:backend

Store isVerified property in user settings local state
  frontend/src/pages/Settings.vue
Labels: area:frontend, area:backend

Add button-outline styles
  frontend/src/styles/components/button.sass
Labels: area:frontend, area:backend

Get domain name from req.headers.origin
  server/controllers/auth/email/verify.js
  server/controllers/auth/signup.js
Labels: area:frontend, area:backend, area:api

frontend: email verification (#202)
  frontend/src/components/icons/Alert.vue
  frontend/src/components/icons/Error.vue
  frontend/src/components/icons/Success.vue
  frontend/src/modules/auth.js
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Settings.vue
  frontend/src/routes.js
  frontend/src/store/modules/user.js
  frontend/src/styles/components/button.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/user/settings.sass
  frontend/src/styles/pages/verify/email.sass
  package.json
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/signup.js
  server/services/auth/verifyEmail.js
  server/services/mail/index.js
  server/services/mail/mail.js
  yarn.lock
Labels: area:frontend, area:backend, area:api

frontend: email verification (#202)
  frontend/src/components/icons/Alert.vue
  frontend/src/components/icons/Error.vue
  frontend/src/components/icons/Success.vue
  frontend/src/modules/auth.js
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Settings.vue
  frontend/src/routes.js
  frontend/src/store/modules/user.js
  frontend/src/styles/components/button.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/user/settings.sass
  frontend/src/styles/pages/verify/email.sass
  package.json
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/signup.js
  server/services/auth/verifyEmail.js
  server/services/mail/index.js
  server/services/mail/mail.js
  yarn.lock
Labels: area:frontend, area:backend, area:api

Create seprate service for validatePasswordRestToken
  server/controllers/auth/password/set.js
  server/services/auth/validatePasswordResetToken.js
Labels: area:frontend, area:backend, area:api

Create API route for validating reset password token
  server/controllers/auth/password/index.js
  server/controllers/auth/password/validateToken.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Add validateResetPasswordToken module in auth.js
  frontend/src/modules/auth.js
Labels: area:frontend, area:backend

Update mail service require
  server/services/auth/passwordReset.js
Labels: area:frontend, area:backend

fix: siteUrl (req.headers.origin) for password reset email
  server/controllers/auth/password/reset.js
Labels: area:frontend, area:backend, area:api

Update reset password & confirm page
  frontend/src/pages/forget/password.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/routes.js
  server/services/auth/passwordReset.js
Labels: area:frontend, area:backend

Reset password (#189)
  frontend/src/modules/auth.js
  frontend/src/pages/Login.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/routes.js
  server/controllers/auth/index.js
  server/controllers/auth/password/index.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/password/validateToken.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/mail/templates/raw/reset.html
  server/services/mail/templates/reset.html
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Reset password (#189)
  frontend/src/modules/auth.js
  frontend/src/pages/Login.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/routes.js
  server/controllers/auth/index.js
  server/controllers/auth/password/index.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/password/validateToken.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/mail/templates/raw/reset.html
  server/services/mail/templates/reset.html
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

update link to forget password from login page
  frontend/src/pages/Login.vue
Labels: area:frontend, area:backend
