Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

Create validate email token middleware for email verification
  server/middlewares/validateEmailToken.js
Labels: area:frontend, area:backend

Split token validation & user exists into separate middleware
  server/controllers/auth/email/validate.js
  server/errorResponse.json
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Change resetPassword & emailVerification token column to VARCHAR(320)
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Check token expiration before check inside db
  server/controllers/auth/email/validate.js
  server/middlewares/validateEmailToken.js
Labels: area:frontend, area:backend, area:api

Pass tokenPayload with userId, email, type for verifyEmail service function
  server/controllers/auth/email/verify.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:api

Return 400 error on missing email in userExists middleware
  server/middlewares/userExists.js
Labels: area:frontend, area:backend

Add userExists middleware to "password/reset" route
  server/controllers/auth/password/reset.js
  server/routes/v1/auth.js
  server/services/auth/getUser.js
Labels: area:frontend, area:backend, area:api

Add validateEmailToken & userExists middleware to "password/validateToken" route
  server/controllers/auth/password/validateToken.js
  server/routes/v1/auth.js
  server/services/auth/validatePasswordResetToken.js
Labels: area:frontend, area:backend, area:api

Add validateEmailToken & userExists to "password/set" API route
  server/controllers/auth/password/set.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Change "email/validate" API route to GET method
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Change resetPassword token expiration to 2h
  server/services/auth/passwordReset.js
Labels: area:frontend, area:backend

Add userExists middleware to login API route
  server/controllers/auth/login.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Remove empty return statment for this.resendVerificationEmailButtonLoading
  frontend/src/pages/Settings.vue
Labels: area:frontend, area:backend

Pass email verification token as argument to validateToken method
  frontend/src/pages/passwordReset/Confirm.vue
Labels: area:frontend, area:backend

Dispatch "user/logout" after changing password
  frontend/src/pages/passwordReset/Confirm.vue
Labels: area:frontend, area:backend

Query user profile data (userId, name, email, username, isVerified)
  server/controllers/users/getProfile.js
Labels: area:frontend, area:backend, area:api

Pass email token to body & change API route method to POST
  server/middlewares/validateEmailToken.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Handle TokenExpiredError & JsonWebTokenError error in catch block of validateEmalToken middleware
  server/middlewares/validateEmailToken.js
Labels: area:frontend, area:backend

Get url (origin & host) from URL() method for sending emails
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend

Update "password/set" data object token property
  frontend/src/modules/auth.js
Labels: area:frontend, area:backend

Refactor auth route APIs (#260)
  frontend/src/modules/auth.js
  frontend/src/pages/Settings.vue
  frontend/src/pages/passwordReset/Confirm.vue
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/login.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/password/validateToken.js
  server/controllers/users/getProfile.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/errorResponse.json
  server/middlewares/userExists.js
  server/middlewares/validateEmailToken.js
  server/routes/v1/auth.js
  server/services/auth/getUser.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Refactor auth route APIs (#260)
  frontend/src/modules/auth.js
  frontend/src/pages/Settings.vue
  frontend/src/pages/passwordReset/Confirm.vue
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/login.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/password/validateToken.js
  server/controllers/users/getProfile.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/errorResponse.json
  server/middlewares/userExists.js
  server/middlewares/validateEmailToken.js
  server/routes/v1/auth.js
  server/services/auth/getUser.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add permissions vote component
  frontend/src/components/post/Vote.vue
  frontend/src/styles/components/post/vote.sass
Labels: area:frontend, area:backend

Check "dashboard:read" permission for authenticate user for accessing dashboard
  server/controllers/users/accessDashboard.js
  server/routes/v1/users.js
Labels: area:frontend, area:backend, area:api

Update "users/dashboard" axious API call
  frontend/src/modules/users.js
  frontend/src/routes.js
Labels: area:frontend, area:backend

Allow dashboard access only users with "dashboard:read" permission
  frontend/src/components/Header.vue
Labels: area:frontend, area:backend

Add return statement on the next() function directly
  frontend/src/routes.js
Labels: area:frontend, area:backend

Create LoginCard component
  frontend/src/components/LoginCard.vue
Labels: area:frontend, area:backend

Conditionally show LoginCard component for non-loggedin users
  frontend/src/pages/board/_url.vue
Labels: area:frontend, area:backend

Replace siteSetupCard with card styles
  frontend/src/components/LoginCard.vue
  frontend/src/components/SiteSetupCard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/styles/components/card.sass
  frontend/src/styles/components/siteSetupCard.sass
  frontend/src/styles/main.sass
Labels: area:frontend, area:backend

Show Login card for non logged in user (#261)
  frontend/src/components/LoginCard.vue
  frontend/src/components/SiteSetupCard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/pages/board/_url.vue
  frontend/src/styles/components/card.sass
  frontend/src/styles/components/siteSetupCard.sass
  frontend/src/styles/main.sass
Labels: area:frontend, area:backend

Show Login card for non logged in user (#261)
  frontend/src/components/LoginCard.vue
  frontend/src/components/SiteSetupCard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/pages/board/_url.vue
  frontend/src/styles/components/card.sass
  frontend/src/styles/components/siteSetupCard.sass
  frontend/src/styles/main.sass
Labels: area:frontend, area:backend

Install dependencies for jest vuejs testing
  package.json
  yarn.lock
Labels: area:frontend, area:backend

jest configuration
  frontend/jest.config.js
Labels: area:frontend, area:backend, area:test

Update babel preset to '@babel/preset-env'
  babel.config.js
Labels: area:frontend, area:backend

create BoardItem component
  frontend/src/components/board/BoardItem.vue
  frontend/src/pages/Boards.vue
  frontend/src/styles/components/board/badge.sass
  frontend/src/styles/components/board/boardItem.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/board/boards.sass
Labels: area:frontend, area:backend

common css style for .color-dot
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/styles/base.sass
  frontend/src/styles/pages/dashboard/boards.sass
Labels: area:frontend, area:backend

Add 'frontend:test' script for testing
  package.json
Labels: area:frontend, area:backend

action: run frontend:test script
  .github/workflows/frontend.yml
Labels: area:frontend, area:backend

action: change node version to 12 & 14
  .github/workflows/frontend.yml
Labels: area:frontend, area:backend

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"
