Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

.
  server/app.js
Labels: area:frontend, area:backend

Create send verifyEmail auth servicesSplit sending email verification into separate service.
  server/controllers/auth/signup.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:api

Return authToken from verifyEmail services
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend

Send email verification (route & controller)
  server/controllers/auth/email/index.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/index.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Create emailVerification table migration
  server/database/migrations/20201026113105_email-verification-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Store email verification token in database
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend

Delete older email verification token before creating new one
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend

Validate email verification token (route & controller)
  server/controllers/auth/email/index.js
  server/controllers/auth/email/validate.js
  server/errorResponse.json
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Update verify email design
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/verify.html
Labels: area:frontend, area:backend

Remove console statement in verifyEmail mail service
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend

Email verification APIs (#180)
  package.json
  server/controllers/auth/email/index.js
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/index.js
  server/controllers/auth/signup.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/verifyEmail.js
  server/services/mail/generateContent.js
  server/services/mail/index.js
  server/services/mail/mail.js
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/verify.html
  yarn.lock
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Email verification APIs (#180)
  package.json
  server/controllers/auth/email/index.js
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/index.js
  server/controllers/auth/signup.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/verifyEmail.js
  server/services/mail/generateContent.js
  server/services/mail/index.js
  server/services/mail/mail.js
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/verify.html
  yarn.lock
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

fix: token validation user_not_found status code 404
  server/middlewares/token.js
Labels: area:frontend, area:backend

fix: token validation user_not_found status code 404
  server/middlewares/token.js
Labels: area:frontend, area:backend

Split all axios call into modules (#192)
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/auth.js
  frontend/src/modules/boards.js
  frontend/src/modules/posts.js
  frontend/src/modules/site.js
  frontend/src/modules/users.js
  frontend/src/modules/votes.js
  frontend/src/pages/Boards.vue
  frontend/src/pages/Index.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/routes.js
Labels: area:frontend, area:backend

Split all axios call into modules (#192)
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/auth.js
  frontend/src/modules/boards.js
  frontend/src/modules/posts.js
  frontend/src/modules/site.js
  frontend/src/modules/users.js
  frontend/src/modules/votes.js
  frontend/src/pages/Boards.vue
  frontend/src/pages/Index.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/routes.js
Labels: area:frontend, area:backend

Create requestPasswordReset module
  frontend/src/modules/auth.js
  frontend/src/pages/forget/index.vue
Labels: area:frontend, area:backend

Create setNewPassword module
  frontend/src/modules/auth.js
  frontend/src/pages/forget/password.vue
Labels: area:frontend, area:backend

Use resetPasswordToken as route param
  frontend/src/pages/forget/password.vue
  frontend/src/routes.js
Labels: area:frontend, area:backend

Remove fs-extra require from password.js
  server/controllers/auth/password/index.js
Labels: area:frontend, area:backend, area:api

fix: route to login page on success password change
  frontend/src/pages/forget/password.vue
Labels: area:frontend, area:backend

Create reset-password-table migration
  server/database/migrations/20201022110834_reset-password-token-and-expires.js
  server/database/migrations/20201027095358_reset-password-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Password reset HTML emails
  server/services/mail/templates/raw/reset.html
  server/services/mail/templates/reset.html
Labels: area:frontend, area:backend

create service to send password reset emails
  server/services/auth/passwordReset.js
Labels: area:frontend, area:backend

Require password controller (reset / set)
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Store token in passwordReset table
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
Labels: area:frontend, area:backend, area:api

Check board already exists before creating
  server/controllers/boards/create.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Remove logger for "board not found"
  server/controllers/boards/boardBySlug.js
  server/controllers/boards/boardPosts.js
Labels: area:frontend, area:backend, area:api

Send board object as response for boardBySlug
  server/controllers/boards/boardBySlug.js
Labels: area:frontend, area:backend, area:api

Check board exists before continue boardPost request
  server/controllers/boards/boardPosts.js
Labels: area:frontend, area:backend, area:api

Add emptyName error response message
  server/errorResponse.json
Labels: area:frontend, area:backend

Require voteId and postId in delete vote controller
  server/controllers/votes/remove.js
Labels: area:frontend, area:backend, area:api

Vote services to add vote to post
  server/services/votes/create.js
Labels: area:frontend, area:backend

Require create vote service in addVote and create post controller
  server/controllers/post/create.js
  server/controllers/votes/add.js
Labels: area:frontend, area:backend, area:api

Update delete post controller
  server/controllers/post/deleteById.js
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

Add error response
  server/errorResponse.json
Labels: area:frontend, area:backend

Require title, userId, boardId to create post
  server/controllers/post/create.js
Labels: area:frontend, area:backend, area:api

Update postBySlug controller
  server/controllers/post/postBySlug.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Query userId column in filterPost controller
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

Send posts array of object as response for filterPost
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"
