Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

Replace firstname & lastname with name in users db table
  server/database/migrations/20200906183548_initial_users_table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Pass all object properties to updateUserSettings function
  frontend/src/modules/users.js
Labels: area:frontend, area:backend

Replace firstname & lastname with name
  frontend/src/pages/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
  server/controllers/post/create.js
  server/controllers/users/updateUser.js
  server/middlewares/authenticate.js
  server/services/users/getUsers.js
Labels: area:frontend, area:backend, area:api

Create single name field in user settings page
  frontend/src/pages/Settings.vue
  frontend/src/styles/pages/user/settings.sass
Labels: area:frontend, area:backend

Remove unwated properties from user vuex store
  frontend/src/store/modules/user.js
Labels: area:frontend, area:backend

Merge firstname and lastname into name (#235)
  frontend/src/modules/users.js
  frontend/src/pages/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/store/modules/user.js
  frontend/src/styles/pages/user/settings.sass
  server/controllers/post/create.js
  server/controllers/users/updateUser.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/middlewares/authenticate.js
  server/services/users/getUsers.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Merge firstname and lastname into name (#235)
  frontend/src/modules/users.js
  frontend/src/pages/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/store/modules/user.js
  frontend/src/styles/pages/user/settings.sass
  server/controllers/post/create.js
  server/controllers/users/updateUser.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/middlewares/authenticate.js
  server/services/users/getUsers.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add spam role to roles db table
  server/database/migrations/20201126112525_insert-role.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add spam role to roles db table
  server/database/migrations/20201126112525_insert-role.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Rename blocked to ban in authorize middleware
  server/middlewares/authorize.js
Labels: area:frontend, area:backend

Rename blocked to ban in authorize middleware
  server/middlewares/authorize.js
Labels: area:frontend, area:backend

fix: sql query to get user role & permissions in auth middleware
  server/middlewares/authenticate.js
Labels: area:frontend, area:backend

fix: sql query to get user role & permissions in auth middleware
  server/middlewares/authenticate.js
Labels: area:frontend, area:backend

Add post permission to roles migration
  server/database/migrations/20201126112548_add-post-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Return error on required properties for creating post
  server/controllers/post/create.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Move createVote code to parent async block function
  server/controllers/post/create.js
Labels: area:frontend, area:backend, area:api

Set default value now() & change data type to timestamp for "createdAt" & "updatedAt"
  server/database/migrations/20200906183548_initial_users_table.js
  server/database/migrations/20200906183706_initial_posts_table.js
  server/database/migrations/20200906184116_initial_votes_table.js
  server/database/migrations/20200906184214_initial_boards_table.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Remove createdAt & updatedAt property from db insert method
  server/controllers/boards/create.js
  server/controllers/post/create.js
  server/controllers/votes/add.js
  server/services/auth/createUser.js
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
Labels: area:frontend, area:backend, area:api

Rename blocked to ban user error message
  server/errorResponse.json
  server/middlewares/authorize.js
Labels: area:frontend, area:backend

Create post exists middleware
  server/errorResponse.json
  server/middlewares/posts/exists.js
Labels: area:frontend, area:backend

Add post exists middleware to delete post route
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

Check post:delete permission & delete post by ID and send 204 status code
  server/controllers/post/deleteById.js
Labels: area:frontend, area:backend, area:api

update migration assign "post:read" permission to "ban" role
  server/database/migrations/20201126112548_add-post-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add apiAuth & postExists middleware to update post
  server/middlewares/validateUserAccess.js
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

check user "post:update" permission
  server/controllers/post/updatePost.js
Labels: area:frontend, area:backend, area:api

check user role & match userId with authorId
  server/controllers/post/updatePost.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Get post id from req.body & return post as object
  server/controllers/post/updatePost.js
Labels: area:frontend, area:backend, area:api

Change to "posts/slug" API POST route
  frontend/src/modules/posts.js
  server/controllers/post/postBySlug.js
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

Get slug from req.body and set default postId & slug value to null
  server/middlewares/posts/exists.js
Labels: area:frontend, area:backend

Use knex method to get vote count and query viewerVote
  frontend/src/components/post/Post.vue
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend

Query author, voters, board in sigle try catch block
  server/controllers/post/postBySlug.js
Labels: area:frontend, area:backend, area:api

Organise const definition in create post
  server/controllers/post/create.js
Labels: area:frontend, area:backend, area:api

Add db:migrate script command
  package.json
Labels: area:frontend, area:backend

Add db:migrate script command
  package.json
Labels: area:frontend, area:backend

Add permissions to post controllers (#236)
  frontend/src/components/post/Post.vue
  frontend/src/modules/posts.js
  server/controllers/boards/create.js
  server/controllers/post/create.js
  server/controllers/post/deleteById.js
  server/controllers/post/postBySlug.js
  server/controllers/post/updatePost.js
  server/controllers/votes/add.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/database/migrations/20200906183706_initial_posts_table.js
  server/database/migrations/20200906184116_initial_votes_table.js
  server/database/migrations/20200906184214_initial_boards_table.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
  server/database/migrations/20201126112548_add-post-permission-roles.js
  server/errorResponse.json
  server/middlewares/authorize.js
  server/middlewares/posts/exists.js
  server/middlewares/validateUserAccess.js
  server/routes/v1/posts.js
  server/services/auth/createUser.js
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add permissions to post controllers (#236)
  frontend/src/components/post/Post.vue
  frontend/src/modules/posts.js
  server/controllers/boards/create.js
  server/controllers/post/create.js
  server/controllers/post/deleteById.js
  server/controllers/post/postBySlug.js
  server/controllers/post/updatePost.js
  server/controllers/votes/add.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/database/migrations/20200906183706_initial_posts_table.js
  server/database/migrations/20200906184116_initial_votes_table.js
  server/database/migrations/20200906184214_initial_boards_table.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
  server/database/migrations/20201126112548_add-post-permission-roles.js
  server/errorResponse.json
  server/middlewares/authorize.js
  server/middlewares/posts/exists.js
  server/middlewares/validateUserAccess.js
  server/routes/v1/posts.js
  server/services/auth/createUser.js
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Rename "emailAddress" to "email" across codebase
  frontend/src/components/dashboard/Sidebar.vue
  frontend/src/modules/auth.js
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/store/modules/user.js
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/login.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/signup.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/middlewares/authenticate.js
  server/services/auth/createUser.js
  server/services/auth/getUser.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/auth/verifyEmail.js
  server/tests/services/createAndGetUser.init.test.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api, area:test

Rename "emailAddress" to "email" across codebase
  frontend/src/components/dashboard/Sidebar.vue
  frontend/src/modules/auth.js
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/store/modules/user.js
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/login.js
  server/controllers/auth/password/reset.js
  server/controllers/auth/password/set.js
  server/controllers/auth/signup.js
  server/database/migrations/20200906183548_initial_users_table.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
  server/middlewares/authenticate.js
  server/services/auth/createUser.js
  server/services/auth/getUser.js
  server/services/auth/passwordReset.js
  server/services/auth/validatePasswordResetToken.js
  server/services/auth/verifyEmail.js
  server/tests/services/createAndGetUser.init.test.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api, area:test

Use URL node APIs to get domain & host from headers.origin
  server/controllers/auth/email/verify.js
  server/controllers/auth/password/reset.js
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
  server/services/mail/templates/raw/reset.html
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/reset.html
  server/services/mail/templates/verify.html
Labels: area:frontend, area:backend, area:api

Use URL node APIs to get domain & host from headers.origin
  server/controllers/auth/email/verify.js
  server/controllers/auth/password/reset.js
  server/services/auth/passwordReset.js
  server/services/auth/verifyEmail.js
  server/services/mail/templates/raw/reset.html
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/reset.html
  server/services/mail/templates/verify.html
Labels: area:frontend, area:backend, area:api

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"
