Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

create board item unit test
  frontend/tests/unit/boardItem.spec.js
Labels: area:frontend, area:backend

Set yarn version to '>= 1.22' in package.json
  package.json
Labels: area:frontend, area:backend

permission disable create board button
  frontend/src/components/board/CreateBoard.vue
  frontend/src/pages/dashboard/Boards.vue
Labels: area:frontend, area:backend

Add permissions to client (#254)
  frontend/src/App.vue
  frontend/src/components/Button.vue
  frontend/src/components/Header.vue
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/input/LText.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/users.js
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/routes.js
  frontend/src/store/modules/user.js
  frontend/src/styles/components/post/vote.sass
  server/controllers/users/accessDashboard.js
  server/controllers/users/getUserPermissions.js
  server/controllers/users/index.js
  server/routes/v1/users.js
Labels: area:frontend, area:backend, area:api

Add permissions to client (#254)
  frontend/src/App.vue
  frontend/src/components/Button.vue
  frontend/src/components/Header.vue
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/input/LText.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/users.js
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/routes.js
  frontend/src/store/modules/user.js
  frontend/src/styles/components/post/vote.sass
  server/controllers/users/accessDashboard.js
  server/controllers/users/getUserPermissions.js
  server/controllers/users/index.js
  server/routes/v1/users.js
Labels: area:frontend, area:backend, area:api

Initialise jest in client (#266)
  .github/workflows/frontend.yml
  babel.config.js
  frontend/jest.config.js
  frontend/src/components/board/BoardItem.vue
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/styles/base.sass
  frontend/src/styles/components/board/badge.sass
  frontend/src/styles/components/board/boardItem.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/board/boards.sass
  frontend/src/styles/pages/dashboard/boards.sass
  frontend/tests/unit/boardItem.spec.js
  package.json
  yarn.lock
Labels: area:frontend, area:backend, area:test

Initialise jest in client (#266)
  .github/workflows/frontend.yml
  babel.config.js
  frontend/jest.config.js
  frontend/src/components/board/BoardItem.vue
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/styles/base.sass
  frontend/src/styles/components/board/badge.sass
  frontend/src/styles/components/board/boardItem.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/board/boards.sass
  frontend/src/styles/pages/dashboard/boards.sass
  frontend/tests/unit/boardItem.spec.js
  package.json
  yarn.lock
Labels: area:frontend, area:backend, area:test

tests: avatar component
  frontend/src/components/Avatar.vue
  frontend/tests/unit/avatar.spec.js
Labels: area:frontend, area:backend

tests: avatar component
  frontend/src/components/Avatar.vue
  frontend/tests/unit/avatar.spec.js
Labels: area:frontend, area:backend

Replace local image with LogChimp CDN url
  frontend/src/assets/images/dashboard-loading-skeleton.png
  frontend/src/assets/images/logchimp_homepage_preview.png
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/logo_invert_color.svg
  frontend/src/components/SiteSetupCard.vue
  frontend/src/pages/setup/Index.vue
Labels: area:frontend, area:backend

Replace local image with LogChimp CDN url
  frontend/src/assets/images/dashboard-loading-skeleton.png
  frontend/src/assets/images/logchimp_homepage_preview.png
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/logo_invert_color.svg
  frontend/src/components/SiteSetupCard.vue
  frontend/src/pages/setup/Index.vue
Labels: area:frontend, area:backend

Create boardBadge component
  frontend/src/components/board/BoardBadge.vue
  frontend/src/components/post/Post.vue
  frontend/src/styles/components/board/boardBadge.sass
  frontend/src/styles/components/post/post.sass
  frontend/src/styles/main.sass
  frontend/tests/unit/boardBadge.spec.js
Labels: area:frontend, area:backend

Create boardBadge component
  frontend/src/components/board/BoardBadge.vue
  frontend/src/components/post/Post.vue
  frontend/src/styles/components/board/boardBadge.sass
  frontend/src/styles/components/post/post.sass
  frontend/src/styles/main.sass
  frontend/tests/unit/boardBadge.spec.js
Labels: area:frontend, area:backend

tests: link to board for boardItem
  frontend/tests/unit/boardItem.spec.js
Labels: area:frontend, area:backend

tests: link to board for boardItem
  frontend/tests/unit/boardItem.spec.js
Labels: area:frontend, area:backend

tests: vote component
  frontend/src/components/post/Vote.vue
  frontend/tests/unit/vote.spec.js
Labels: area:frontend, area:backend

tests: vote component
  frontend/src/components/post/Vote.vue
  frontend/tests/unit/vote.spec.js
Labels: area:frontend, area:backend

fix: https://github.com/logchimp/logchimp/actions/runs/451017894
  babel.config.js
  frontend/jest.config.js
  frontend/tests/setupTest.js
  package.json
  yarn.lock
Labels: area:frontend, area:backend, area:test

fix: https://github.com/logchimp/logchimp/actions/runs/451017894
  babel.config.js
  frontend/jest.config.js
  frontend/tests/setupTest.js
  package.json
  yarn.lock
Labels: area:frontend, area:backend, area:test

fix: remove permissions from "Disable vote without 'vote:create' permission" test
  frontend/tests/unit/vote.spec.js
Labels: area:frontend, area:backend

fix: remove permissions from "Disable vote without 'vote:create' permission" test
  frontend/tests/unit/vote.spec.js
Labels: area:frontend, area:backend

Remove post watcher from Post component
  frontend/src/components/post/Post.vue
Labels: area:frontend, area:backend

Remove post watcher from Post component
  frontend/src/components/post/Post.vue
Labels: area:frontend, area:backend

tests: post component
  frontend/src/components/post/Post.vue
  frontend/tests/unit/post.spec.js
Labels: area:frontend, area:backend

tests: post component
  frontend/src/components/post/Post.vue
  frontend/tests/unit/post.spec.js
Labels: area:frontend, area:backend

migration: Create roadmap table & add roadmap_id to posts table
  server/database/migrations/20201224104136_add-roadmaps-table.js
  server/database/migrations/20201224143827_add-roadmap-id-to-posts-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Filter posts by roadmapId
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

Create PostCard component for roadmap view
  frontend/src/components/post/PostCard.vue
  frontend/src/styles/components/post/post.sass
  frontend/src/styles/components/post/postCard.sass
  frontend/src/styles/main.sass
Labels: area:frontend, area:backend

Create AvatarStack component
  frontend/src/components/AvatarStack.vue
  frontend/src/components/post/PostCard.vue
  frontend/src/styles/components/avatarStack.sass
  frontend/src/styles/components/post/postCard.sass
  frontend/src/styles/main.sass
  frontend/tests/unit/avatarStack.spec.js
Labels: area:frontend, area:backend

Add roadmapId argument to getPosts function
  frontend/src/modules/posts.js
  frontend/src/pages/dashboard/Posts.vue
Labels: area:frontend, area:backend

Add ArrowTop icon component
  frontend/src/components/icons/ArrowTop.vue
Labels: area:frontend, area:backend

tests: postCard component
  frontend/src/components/post/PostCard.vue
  frontend/tests/unit/postCard.spec.js
Labels: area:frontend, area:backend

remove extra module import & add comment to avatarStack.spec.js
  frontend/tests/unit/avatarStack.spec.js
Labels: area:frontend, area:backend

Remove userId as argument from getPosts function
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
Labels: area:frontend, area:backend

Create roadmapView component
  frontend/src/components/RoadmapView.vue
  frontend/src/styles/components/roadmapView.sass
  frontend/src/styles/main.sass
  frontend/tests/unit/roadmapView.spec.js
Labels: area:frontend, area:backend

comment out test "Post createdAt full date" of postCard component
  frontend/tests/unit/postCard.spec.js
Labels: area:frontend, area:backend

update getVotes SQL query
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend

Create roadmaps filter GET API route
  frontend/src/modules/roadmaps.js
  server/controllers/roadmaps/filter.js
  server/controllers/roadmaps/index.js
  server/routes/v1/index.js
  server/routes/v1/roadmaps.js
Labels: area:frontend, area:backend, area:api

Create Roadmaps page
  frontend/src/components/Navbar.vue
  frontend/src/components/icons/Roadmap.vue
  frontend/src/pages/Roadmaps.vue
  frontend/src/routes.js
  frontend/src/styles/main.sass
  frontend/src/styles/pages/roadmaps.sass
Labels: area:frontend, area:backend

test: vote component "Enable vote with 'vote:create' permission"
  frontend/tests/unit/vote.spec.js
Labels: area:frontend, area:backend

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"
