Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"

Tag version v0.4.0
  package.json
Labels: area:frontend, area:backend

Tag version v0.4.0
  package.json
Labels: area:frontend, area:backend

Add delete board route & controller (#201)
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Add delete board route & controller (#201)
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Resolve loading local state in finally block
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Vote.vue
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
Labels: area:frontend, area:backend

Resolve loading local state in finally block (#222)
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Vote.vue
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
Labels: area:frontend, area:backend

Resolve loading local state in finally block (#222)
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Vote.vue
  frontend/src/pages/EmailVerify.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/passwordReset/Confirm.vue
  frontend/src/pages/passwordReset/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
Labels: area:frontend, area:backend

Create permissions, roles, roles_user and permissions_role table migrations
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
  server/database/migrations/20201125214155_roles-user-table.js
  server/database/migrations/20201125215955_permissions-roles-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Create authenticate & authorize middlewares
  server/errorResponse.json
  server/middlewares/authenticate.js
  server/middlewares/authorize.js
  server/middlewares/index.js
Labels: area:frontend, area:backend

Add for foreign to permissions_roles & roles_users table
  server/database/migrations/20201125214155_roles-user-table.js
  server/database/migrations/20201125215955_permissions-roles-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Check user has owner role in isSiteSetup controller
  server/controllers/auth/index.js
  server/controllers/auth/isSetup.js
  server/controllers/auth/isSiteSetup.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Rename isSetup to is_setup for site setup API
  frontend/src/pages/Index.vue
  frontend/src/routes.js
Labels: area:frontend, area:backend

Create site setup API
  server/controllers/auth/index.js
  server/controllers/auth/setup.js
  server/routes/v1/auth.js
Labels: area:frontend, area:backend, area:api

Add siteSetup function in site module
  frontend/src/modules/site.js
Labels: area:frontend, area:backend

Remove fullName and isOwner argument from signup axios function
  frontend/src/modules/auth.js
  frontend/src/pages/setup/Account.vue
Labels: area:frontend, area:backend

Replace signup with siteSetup function module in account setup page
  frontend/src/pages/setup/Account.vue
Labels: area:frontend, area:backend

Update API route for isSiteSetup
  frontend/src/modules/site.js
Labels: area:frontend, area:backend

Remove dashboard board url page & APIs
  frontend/src/modules/boards.js
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/routes.js
  server/controllers/boards/boardPosts.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Remove dashboard board url page & APIs
  frontend/src/modules/boards.js
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/routes.js
  server/controllers/boards/boardPosts.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Add foreign key to user email from emailVerification & resetPassword db table
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add foreign key to user email from emailVerification & resetPassword db table
  server/database/migrations/20201026113105_email-verification-table.js
  server/database/migrations/20201027095358_reset-password-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Pass board data as props to Latest & Oldest post component
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/pages/board/_url.vue
Labels: area:frontend, area:backend

Rename posts API route /posts/get
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/modules/posts.js
Labels: area:frontend, area:backend

Pass showBoard props to Post component
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Post.vue
Labels: area:frontend, area:backend

Change filterPosts method to POST "/posts/get" route
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

Get 10 votes, votesCount and viewerVote in getVotes services
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend

Filter posts by boardId
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

Update getPosts module function & return posts data
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
Labels: area:frontend, area:backend

Pass votesCount and isVoted props to Vote component
  frontend/src/components/post/Vote.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
Labels: area:frontend, area:backend

Remove boardPosts controller require
  server/controllers/boards/index.js
Labels: area:frontend, area:backend, area:api

Remove boardPosts controller require
  server/controllers/boards/index.js
Labels: area:frontend, area:backend, area:api

Add "setupAlreadyCompleted" error response
  server/errorResponse.json
Labels: area:frontend, area:backend

Check for existing vote before deleting
  frontend/src/components/post/Vote.vue
  frontend/src/modules/votes.js
  server/controllers/votes/remove.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Check for existing vote before deleting
  frontend/src/components/post/Vote.vue
  frontend/src/modules/votes.js
  server/controllers/votes/remove.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Send post object as response for update post
  frontend/src/pages/post/_slug/Edit.vue
  server/controllers/post/updatePost.js
Labels: area:frontend, area:backend, area:api

Send post object as response for update post
  frontend/src/pages/post/_slug/Edit.vue
  server/controllers/post/updatePost.js
Labels: area:frontend, area:backend, area:api

Check for existing vote before adding
  server/controllers/votes/add.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Check for existing vote before adding
  server/controllers/votes/add.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Get all boards and post count in single query
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  server/controllers/boards/filter.js
Labels: area:frontend, area:backend, area:api

Get all boards and post count in single query
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  server/controllers/boards/filter.js
Labels: area:frontend, area:backend, area:api
