Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"

Log info & error for undo "20201120175923_seed-settings" migration
  server/database/migrations/20201120175923_seed-settings.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Log info & error for undo "20201120175923_seed-settings" migration
  server/database/migrations/20201120175923_seed-settings.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Delete board if board exists
  server/controllers/boards/deleteBoard.js
Labels: area:frontend, area:backend, area:api

Delete board if board exists
  server/controllers/boards/deleteBoard.js
Labels: area:frontend, area:backend, area:api

Query author and votes data separately in postBySlug controller
  server/controllers/post/postBySlug.js
Labels: area:frontend, area:backend, area:api

Query author and votes data separately in postBySlug controller
  server/controllers/post/postBySlug.js
Labels: area:frontend, area:backend, area:api

Replace getUser function with database query in login controller
  server/controllers/auth/login.js
Labels: area:frontend, area:backend, area:api

Replace getUser function with database query in login controller
  server/controllers/auth/login.js
Labels: area:frontend, area:backend, area:api

Validate user exists, send email verification & create auth token in createUser services
  server/services/auth/createUser.js
Labels: area:frontend, area:backend

Use createUser service in signup controller
  server/controllers/auth/signup.js
Labels: area:frontend, area:backend, area:api

Add apiAuth middleware to create post route
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:api

Filter post with board ids (#231)
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Post.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/posts.js
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
  server/controllers/post/filterPost.js
  server/routes/v1/posts.js
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend, area:api

Filter post with board ids (#231)
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Post.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/posts.js
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Index.vue
  server/controllers/post/filterPost.js
  server/routes/v1/posts.js
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend, area:api

Read post:create permissions & userId from req
  server/controllers/post/create.js
Labels: area:frontend, area:backend, area:api

Add roles and permissions middleware to server (#224)
  server/controllers/post/create.js
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
  server/database/migrations/20201125214155_roles-user-table.js
  server/database/migrations/20201125215955_permissions-roles-table.js
  server/errorResponse.json
  server/middlewares/authenticate.js
  server/middlewares/authorize.js
  server/middlewares/index.js
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add roles and permissions middleware to server (#224)
  server/controllers/post/create.js
  server/database/migrations/20201125151704_permissions-table.js
  server/database/migrations/20201125152807_roles-table.js
  server/database/migrations/20201125214155_roles-user-table.js
  server/database/migrations/20201125215955_permissions-roles-table.js
  server/errorResponse.json
  server/middlewares/authenticate.js
  server/middlewares/authorize.js
  server/middlewares/index.js
  server/routes/v1/posts.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Refactor site setup API (#228)
  frontend/src/modules/auth.js
  frontend/src/modules/site.js
  frontend/src/pages/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/routes.js
  server/controllers/auth/index.js
  server/controllers/auth/isSetup.js
  server/controllers/auth/isSiteSetup.js
  server/controllers/auth/setup.js
  server/controllers/auth/signup.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/createUser.js
Labels: area:frontend, area:backend, area:api

Refactor site setup API (#228)
  frontend/src/modules/auth.js
  frontend/src/modules/site.js
  frontend/src/pages/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/routes.js
  server/controllers/auth/index.js
  server/controllers/auth/isSetup.js
  server/controllers/auth/isSiteSetup.js
  server/controllers/auth/setup.js
  server/controllers/auth/signup.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/createUser.js
Labels: area:frontend, area:backend, area:api

fix: query boards.url in boards filter controller
  server/controllers/boards/filter.js
Labels: area:frontend, area:backend, area:api

fix: query boards.url in boards filter controller
  server/controllers/boards/filter.js
Labels: area:frontend, area:backend, area:api

db: rename permission_id column in permissions_roles table
  server/database/migrations/20201125215955_permissions-roles-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

db: rename permission_id column in permissions_roles table
  server/database/migrations/20201125215955_permissions-roles-table.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Create roles migration seed file
  server/database/migrations/20201126112525_insert-role.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Create roles migration seed file
  server/database/migrations/20201126112525_insert-role.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Create migration utility to add permissions to roles
  server/database/utils.js
Labels: area:frontend, area:backend, area:database

migration: Add dashboard permission
  server/database/migrations/20201126112548_add-dashboard-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Utility for adding permissions to roles (#232)
  server/database/migrations/20201126112548_add-dashboard-permission-roles.js
  server/database/utils.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Utility for adding permissions to roles (#232)
  server/database/migrations/20201126112548_add-dashboard-permission-roles.js
  server/database/utils.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add repository & bug url
  package.json
Labels: area:frontend, area:backend

Add description to package.json
  package.json
Labels: area:frontend, area:backend

Add node & yarn engines in package.json
  package.json
Labels: area:frontend, area:backend

Add keywords in package.json
  package.json
Labels: area:frontend, area:backend

define node version in nvmrc file
  .nvmrc
Labels: area:frontend, area:backend

Add prettier configuration
  .prettierrc.json
Labels: area:frontend, area:backend

Remove parserOptions from eslint config
  .eslintrc.js
Labels: area:frontend, area:backend

Use overrides jest plugin in "**/*.test.js" files
  .eslintrc.js
Labels: area:frontend, area:backend

Use vue & prettier plugin with plugin:vue/recommended
  .eslintrc.js
Labels: area:frontend, area:backend

Set es6 env in eslint config
  .eslintrc.js
Labels: area:frontend, area:backend

Remove previous rules, set vue/html-indent to tabs
  .eslintrc.js
Labels: area:frontend, area:backend

Remove eslint:fix script from package.json
  package.json
Labels: area:frontend, area:backend
