Repository logchimp/logchimp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:database, area:database:migrations, area:database:seeds, area:api, area:test

.github/labeler.yml:

"area:frontend":
  - "frontend/**/*"
  - "!frontend/jest.config.js"

"area:backend":
  - "server/**/*"
  - "!server/jest.config.js"

"area:database":
  - "server/database/**/*"

"area:database:migrations":
  - "server/database/migrations/**"

"area:database:seeds":
  - "server/database/seeds/**"

"area:api":
  - "server/routes/**"
  - "server/controllers/**"

"area:test":
  - "frontend/jest.config.js"
  - "server/**/*.test.js"
  - "jest.config.js"
  - "server/jest.config.js"

Add apiAuth middleware to create board route
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Check "board:create" permission in controller
  server/controllers/boards/create.js
Labels: area:frontend, area:backend, area:api

Return error on missing board title from request
  server/controllers/boards/create.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Add meta info to package json (#233)
  .nvmrc
  package.json
Labels: area:frontend, area:backend

Add meta info to package json (#233)
  .nvmrc
  package.json
Labels: area:frontend, area:backend

Add board permmission to roles migration
  server/database/migrations/20201204144436_add-board-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Check existing board before creating
  server/controllers/boards/create.js
  server/errorResponse.json
Labels: area:frontend, area:backend, area:api

Create boardExists middleware
  server/middlewares/boardExists.js
Labels: area:frontend, area:backend

Check "board:destory" permission
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/deleteById.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Change boardByUrl to GET route
  server/controllers/boards/boardBySlug.js
  server/controllers/boards/boardByUrl.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Get board url from request params
  server/middlewares/boardExists.js
Labels: area:frontend, area:backend

Create check-name API for boards
  server/controllers/boards/checkName.js
  server/controllers/boards/index.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Create update board API
  server/controllers/boards/index.js
  server/controllers/boards/updateBoard.js
  server/routes/v1/boards.js
Labels: area:frontend, area:backend, area:api

Delete getBoardBySlug service
  server/services/boards/getBoardBySlug.js
Labels: area:frontend, area:backend

Add vote permmission to roles migration
  server/database/migrations/20201204144436_add-vote-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add authApi middleware to votes API route
  server/routes/v1/votes.js
Labels: area:frontend, area:backend, area:api

Add permission check & move code to single async block
  server/controllers/votes/add.js
  server/controllers/votes/index.js
  server/controllers/votes/remove.js
Labels: area:frontend, area:backend, area:api

Add permissions to boards API (#237)
  server/controllers/boards/boardBySlug.js
  server/controllers/boards/boardByUrl.js
  server/controllers/boards/checkName.js
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/deleteById.js
  server/controllers/boards/index.js
  server/controllers/boards/updateBoard.js
  server/database/migrations/20201204144436_add-board-permission-roles.js
  server/errorResponse.json
  server/middlewares/boardExists.js
  server/routes/v1/boards.js
  server/services/boards/getBoardBySlug.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add permissions to boards API (#237)
  server/controllers/boards/boardBySlug.js
  server/controllers/boards/boardByUrl.js
  server/controllers/boards/checkName.js
  server/controllers/boards/deleteBoard.js
  server/controllers/boards/deleteById.js
  server/controllers/boards/index.js
  server/controllers/boards/updateBoard.js
  server/database/migrations/20201204144436_add-board-permission-roles.js
  server/errorResponse.json
  server/middlewares/boardExists.js
  server/routes/v1/boards.js
  server/services/boards/getBoardBySlug.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add permissions to vote API (#238)
  server/controllers/votes/add.js
  server/controllers/votes/index.js
  server/controllers/votes/remove.js
  server/database/migrations/20201204144436_add-vote-permission-roles.js
  server/routes/v1/votes.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

Add permissions to vote API (#238)
  server/controllers/votes/add.js
  server/controllers/votes/index.js
  server/controllers/votes/remove.js
  server/database/migrations/20201204144436_add-vote-permission-roles.js
  server/routes/v1/votes.js
Labels: area:frontend, area:backend, area:database, area:database:migrations, area:api

fix: "add vote permission roles" migration file timestamp
  server/database/migrations/20201204144437_add-vote-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

fix: "add vote permission roles" migration file timestamp
  server/database/migrations/20201204144437_add-vote-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

remove console.log statement from add vote controller
  server/controllers/votes/add.js
Labels: area:frontend, area:backend, area:api

remove console.log statement from add vote controller
  server/controllers/votes/add.js
Labels: area:frontend, area:backend, area:api

Rename userById to me API route
  server/controllers/users/getProfile.js
  server/controllers/users/index.js
  server/controllers/users/userById.js
  server/routes/v1/users.js
Labels: area:frontend, area:backend, area:api

Rename updateUser to updateProfile controller
  server/controllers/users/index.js
  server/controllers/users/updateProfile.js
  server/routes/v1/users.js
Labels: area:frontend, area:backend, area:api

Add setting permmission to roles migration
  server/database/migrations/20201207215807_add-setting-permission-roles.js
Labels: area:frontend, area:backend, area:database, area:database:migrations

Add permission check "setting:update" in controller
  server/controllers/settings/index.js
  server/controllers/settings/update.js
  server/routes/v1/settings.js
Labels: area:frontend, area:backend, area:api

Log error from knex library for migrations
  server/app.js
Labels: area:frontend, area:backend

Log error from knex library for migrations
  server/app.js
Labels: area:frontend, area:backend

fix: pass url and email argument to verfiyEmail function
  server/services/auth/createUser.js
Labels: area:frontend, area:backend

fix: pass url and email argument to verfiyEmail function
  server/services/auth/createUser.js
Labels: area:frontend, area:backend

Send object as response for user, boards, & posts
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  server/controllers/auth/setup.js
  server/controllers/auth/signup.js
  server/controllers/boards/filter.js
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

Send object as response for user, boards, & posts
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/pages/Boards.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  server/controllers/auth/setup.js
  server/controllers/auth/signup.js
  server/controllers/boards/filter.js
  server/controllers/post/filterPost.js
Labels: area:frontend, area:backend, area:api

fix: set userId or NULL for getVotes
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend

fix: set userId or NULL for getVotes
  server/services/votes/getVotes.js
Labels: area:frontend, area:backend

fix: NavigationDuplicated location "/" error message
  frontend/src/components/Header.vue
Labels: area:frontend, area:backend

fix: NavigationDuplicated location "/" error message
  frontend/src/components/Header.vue
Labels: area:frontend, area:backend

Remove dashboard link from boards in Post component
  frontend/src/components/post/Post.vue
Labels: area:frontend, area:backend
