Repository logchimp/logchimp, pull requests merged in 2020-10, with the labels that each got.

#132 Hide dropdown on clicking outside
  frontend/src/components/Header.vue
  frontend/src/pages/post/View.vue
Labels: area:frontend

#133 Fix: eslint plugin vue v7 errors
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/input/LText.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/Post.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/post/Edit.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/pages/user/Settings.vue
Labels: area:frontend, bug

#134 Add dropdown to Dashboard sidebar
  frontend/src/components/dashboard/Sidebar.vue
  frontend/src/components/icons/Info.vue
  frontend/src/components/icons/Twitter.vue
  frontend/src/styles/components/dashboard/sidebar.sass
Labels: area:frontend

#136 Site settings page
  .gitignore
  content/images/readme.md
  content/logs/readme.md
  frontend/src/App.vue
  frontend/src/components/Header.vue
  frontend/src/components/dashboard/Sidebar.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/dashboard/DashboardSettings.vue
  frontend/src/routes.js
  frontend/src/store/modules/settings.js
  frontend/src/styles/components/auth.sass
  frontend/src/styles/components/header.sass
  frontend/src/styles/main.sass
  frontend/src/styles/pages/dashboard/settings.sass
  frontend/src/styles/variables.sass
  server/app.js
  server/controllers/serveImages.js
  server/controllers/settings/index.js
  server/controllers/settings/siteSettings.js
  server/controllers/settings/update.js
  server/controllers/settings/updateLogo.js
  server/database/index.js
  server/database/migrations/20201004110523_create-settings-table.js
  server/database/seeds/settings.js
  server/package.json
  server/routes/v1/index.js
  server/routes/v1/settings.js
  server/utils/logger.js
  yarn.lock
Labels: area:api, area:backend, area:frontend

#139 fix: button loading state
  frontend/src/components/Button.vue
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/dashboard/DashboardSettings.vue
  frontend/src/pages/post/Edit.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/pages/user/Settings.vue
  frontend/src/styles/components/button.sass
Labels: area:frontend

#140 Add loader to post view
  frontend/src/pages/dashboard/post/DashboardPostView.vue
  frontend/src/pages/post/View.vue
  frontend/src/styles/components/loader.sass
Labels: area:frontend

#142 Add loader and show message "board not found" on board page
  frontend/src/pages/board/Board.vue
Labels: area:frontend

#143 Split database connection config into separate file
  server/database/config.js
  server/database/index.js
  server/tests/services/createAndGetUser.init.test.js
Labels: area:backend

#145 Add meta tags
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.js
  frontend/src/pages/Homepage.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/board/Board.vue
  frontend/src/pages/board/Boards.vue
  frontend/src/pages/dashboard/DashboardSettings.vue
  frontend/src/pages/dashboard/Overview.vue
  frontend/src/pages/dashboard/board/DashboardBoard.vue
  frontend/src/pages/dashboard/board/DashboardBoards.vue
  frontend/src/pages/dashboard/board/DashboardCreateBoard.vue
  frontend/src/pages/dashboard/post/DashboardPostView.vue
  frontend/src/pages/dashboard/post/DashboardPosts.vue
  frontend/src/pages/dashboard/user/DashboardUsers.vue
  frontend/src/pages/post/Edit.vue
  frontend/src/pages/post/View.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/pages/setup/Board.vue
  frontend/src/pages/setup/Welcome.vue
  frontend/src/pages/user/Settings.vue
  yarn.lock
Labels: area:frontend

#157 Add devServer proxy to Vue config
  frontend/src/App.vue
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/CreatePost.vue
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Vote.vue
  frontend/src/pages/Homepage.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/board/Board.vue
  frontend/src/pages/board/Boards.vue
  frontend/src/pages/dashboard/DashboardSettings.vue
  frontend/src/pages/dashboard/Overview.vue
  frontend/src/pages/dashboard/board/DashboardBoard.vue
  frontend/src/pages/dashboard/board/DashboardBoards.vue
  frontend/src/pages/dashboard/post/DashboardPostView.vue
  frontend/src/pages/dashboard/post/DashboardPosts.vue
  frontend/src/pages/dashboard/user/DashboardUsers.vue
  frontend/src/pages/post/Edit.vue
  frontend/src/pages/post/View.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/pages/user/Settings.vue
  frontend/src/routes.js
  frontend/vue.config.js
Labels: area:frontend

#158 Serve vue build files from express
  .gitignore
  frontend/vue.config.js
  server/app.js
Labels: area:backend, area:frontend

#159 Merge all packages at root
  frontend/package.json
  package.json
  server/database/config.js
  server/package.json
  yarn.lock
Labels: area:backend, area:frontend

#161 Logchimp config file
  .github/workflows/test.yml
  .gitignore
  package.json
  scripts/create-config.sh
  server/app.js
  server/controllers/auth/login.js
  server/controllers/auth/signup.js
  server/database/config.js
  server/jest.config.js
  server/middlewares/token.js
  server/utils/logchimpConfig.js
  yarn.lock
Labels: area:backend

#168 Split v1 API routes separately
  server/app.js
  server/routes/index.js
  server/routes/v1/index.js
Labels: area:backend

#181 Integrate google analytics
  frontend/src/App.vue
  frontend/src/pages/dashboard/DashboardSettings.vue
  frontend/src/store/modules/settings.js
  package.json
  server/controllers/settings/update.js
  server/database/migrations/20201018201441_google-analytics-id-column-to-settings-table.js
  yarn.lock
Labels: area:backend, area:frontend

#191 Simplify pages name and directory structure
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/pages/Boards.vue
  frontend/src/pages/Index.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/pages/dashboard/boards/Create.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/Post.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Board.vue
  frontend/src/pages/setup/Index.vue
  frontend/src/routes.js
Labels: area:frontend, refactoring

#190 Split posts axios call into module
  frontend/src/components/post/CreatePost.vue
  frontend/src/modules/posts.js
Labels: area:frontend, refactoring

#163 fix: Resolve no-mutate-props (eslint error)
  frontend/src/components/post/Post.vue
Labels: area:frontend

#180 Email verification APIs
  package.json
  server/controllers/auth/email/index.js
  server/controllers/auth/email/validate.js
  server/controllers/auth/email/verify.js
  server/controllers/auth/index.js
  server/controllers/auth/signup.js
  server/database/migrations/20201026113105_email-verification-table.js
  server/errorResponse.json
  server/routes/v1/auth.js
  server/services/auth/verifyEmail.js
  server/services/mail/generateContent.js
  server/services/mail/index.js
  server/services/mail/mail.js
  server/services/mail/templates/raw/verify.html
  server/services/mail/templates/verify.html
  yarn.lock
Labels: area:api, area:backend

#192 Split all axios call into modules
  frontend/src/components/board/CreateBoard.vue
  frontend/src/components/post/LatestPosts.vue
  frontend/src/components/post/OldestPosts.vue
  frontend/src/components/post/Vote.vue
  frontend/src/modules/auth.js
  frontend/src/modules/boards.js
  frontend/src/modules/posts.js
  frontend/src/modules/site.js
  frontend/src/modules/users.js
  frontend/src/modules/votes.js
  frontend/src/pages/Boards.vue
  frontend/src/pages/Index.vue
  frontend/src/pages/Join.vue
  frontend/src/pages/Login.vue
  frontend/src/pages/Settings.vue
  frontend/src/pages/board/_url.vue
  frontend/src/pages/dashboard/Boards.vue
  frontend/src/pages/dashboard/Index.vue
  frontend/src/pages/dashboard/Posts.vue
  frontend/src/pages/dashboard/Settings.vue
  frontend/src/pages/dashboard/Users.vue
  frontend/src/pages/dashboard/board/_url/Index.vue
  frontend/src/pages/dashboard/post/_slug/Index.vue
  frontend/src/pages/post/_slug/Edit.vue
  frontend/src/pages/post/_slug/Index.vue
  frontend/src/pages/setup/Account.vue
  frontend/src/routes.js
Labels: area:frontend, refactoring
