Repository logchimp/logchimp, pull requests merged in 2025-07, with the labels that each got.

#970 Fix inability to delete boards
  packages/server/ee/controllers/v1/boards/deleteById.js
  packages/theme/src/ee/pages/dashboard/boards/Index.vue
Labels: area:frontend, area:backend

#977 feat: bump tailwind v4
  packages/theme/index.html
  packages/theme/package.json
  packages/theme/postcss.config.cjs
  packages/theme/src/components/Breadcrumbs.vue
  packages/theme/src/components/Header.vue
  packages/theme/src/components/Navbar.vue
  packages/theme/src/components/PowerBy.vue
  packages/theme/src/components/board/BoardBadge.vue
  packages/theme/src/components/board/BoardItem.vue
  packages/theme/src/components/ui/Avatar/Avatar.vue
  packages/theme/src/components/ui/Avatar/AvatarStack.vue
  packages/theme/src/components/ui/tab/Tab.vue
  packages/theme/src/components/ui/tab/TabItem.vue
  packages/theme/src/ee/components/roadmap/RoadmapPostCard.vue
  packages/theme/src/layout/Dashboard.vue
  packages/theme/src/layout/Onboarding.vue
  packages/theme/src/layout/Viewer.vue
  packages/theme/src/pages/boards/_url.vue
  packages/theme/src/style.css
  packages/theme/src/styles/base.sass
  packages/theme/src/styles/container.sass
  packages/theme/src/styles/main.sass
  packages/theme/src/styles/typography.sass
  packages/theme/src/styles/variables.sass
  packages/theme/tailwind.config.cjs
  packages/theme/tsconfig.app.json
  packages/theme/tsconfig.json
  packages/theme/tsconfig.node.json
  packages/theme/vite.config.ts
  pnpm-lock.yaml
Labels: area:frontend, difficulty:medium

#994 test(server): replace `getUser` with `createUser` utils function
  packages/server/tests/integration/v1/boards.spec.js
  packages/server/tests/integration/v1/roles.spec.js
  packages/server/tests/utils/getUser.js
  packages/server/tests/utils/seed/user.js
Labels: area:test:integration, difficulty:easy

#997 feat(theme/Roadmaps): set min-height to roadmap columns
  packages/theme/src/ee/components/roadmap/RoadmapColumn.vue
  packages/theme/src/pages/Roadmaps.vue
Labels: area:frontend

#978 test: Wrote integration test updating user name (with length check)
  packages/server/tests/integration/v1/users/updateProfile.spec.js
Labels: area:test:integration

#1004 Create `color-dot` component
  packages/theme/src/components/ColorDot.vue
  packages/theme/src/components/board/BoardBadge.test.ts
  packages/theme/src/components/board/BoardBadge.vue
  packages/theme/src/components/board/BoardItem.test.ts
  packages/theme/src/components/board/BoardItem.vue
  packages/theme/src/components/board/BoardSuggestion.test.ts
  packages/theme/src/components/board/BoardSuggestion.vue
  packages/theme/src/ee/components/roadmap/RoadmapColumn.test.ts
  packages/theme/src/ee/components/roadmap/RoadmapColumn.vue
  packages/theme/src/pages/dashboard/Index.vue
  packages/theme/src/style.css
Labels: area:frontend, area:test:unit
