Repository logchimp/logchimp, pull requests merged in 2025-08, with the labels that each got.

#1027 feat(theme): improve logic to set accent color globally
  packages/theme/src/App.vue
Labels: area:frontend

#1050 fix(server): remove module.exports in db config
  .github/workflows/test.yml
  packages/server/package.json
  packages/server/src/database/config.ts
Labels: area:backend

#1047 fix(theme/ui): update Toggle.test.ts file
  packages/theme/src/components/ui/input/Toggle.test.ts
Labels: area:frontend, area:test:unit, difficulty:easy

#1060 ci(TestWorkflow): add build step for LogChimp Types package in `theme-build` job
  .github/workflows/test.yml
Labels: area:frontend

#1057 fix: server crash when signing in with the same credentials
  packages/server/src/controllers/auth/setup.ts
  packages/server/src/controllers/auth/signup.ts
  packages/server/tests/integration/v1/auth/signup.spec.ts
Labels: area:api

#1087 run mailhog service in test workflow
  .github/workflows/test.yml
Labels: area:backend, area:test:integration

#1094 fix: overlapping sidebar in the dashboard content
  packages/theme/src/layout/Dashboard.vue
Labels: area:frontend

#1116 Test integration for getting user profile
  packages/server/tests/integration/v1/users/getProfile.spec.ts
Labels: area:test:integration
