Repository logchimp/logchimp, pull requests merged in 2025-09, with the labels that each got.

#1118 Write integration test for [POST] /posts
  packages/server/tests/integration/v1/posts.spec.ts
  packages/server/tests/utils/seed/user.ts
Labels: area:test:integration

#1164 feat: add integration test for `[POST] /auth/email/verify`
  .github/workflows/test.yml
  packages/server/src/routes/v1/auth.ts
  packages/server/tests/integration/v1/auth/email.spec.ts
Labels: area:backend, area:test:integration

#1177 fix(server/roadmapExists): handle database errors and log details in `roadmapExists.ts` middleware
  packages/server/src/middlewares/roadmapExists.ts
Labels: area:backend, area:test:integration

#1234 Refactor/integrate missing middleware roles
  packages/server/src/ee/controllers/v1/roles/getOne.ts
  packages/server/src/ee/middleware/roleExists.ts
  packages/server/src/ee/routes/v1/roles.ts
  packages/server/src/errorResponse.json
  packages/server/src/middlewares/userExists.ts
  packages/server/tests/integration/v1/roles.spec.ts
  packages/types/src/roles/roles.ts
Labels: area:api, area:test:integration

#1295 feat: improve logchimp config manager
  docker/community/.env.example
  docker/community/docker-compose.yml
  packages/server/.env.example
  packages/server/src/app.ts
  packages/server/src/cache/index.ts
  packages/server/src/database/config.ts
  packages/server/src/environment.d.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/auth/authOptional.ts
  packages/server/src/middlewares/auth/authRequired.ts
  packages/server/src/middlewares/validateEmailToken.ts
  packages/server/src/services/auth/passwordReset.ts
  packages/server/src/services/auth/verifyEmail.ts
  packages/server/src/services/mail/mail.ts
  packages/server/src/services/token.service.ts
  packages/server/src/utils/logchimpConfig.ts
  packages/server/tests/integration/v1/auth/email.spec.ts
Labels: area:backend, refactoring
